<h2>List of Customers  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
  <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg> </h2>
<table class="table table-striped">

  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Edit</th>
      <th>Remove</th>
      <th>Profile</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.mobile}}</td>
      <td><button (click)="updateCustomer(customer.id)" class="btn btn-success" type="submit">Update</button></td>
      <td><button (click)="deleteCustomer(customer.id)" class="btn btn-danger" type="submit">Delete</button></td>
      <td><button (click)="viewCustomerById(customer.id)" class="btn btn-info" type="submit">View</button></td>
    </tr>
  </tbody>
</table>
